# build, distribute, and bins (+ python proto bindings)
build.*/
build
build_*/
.build_debug/*
.build_release/*
distribute/*
*.testbin
*.bin
cmake_build
.cmake_build
cmake-build-debug
gen
*~
.vs
.DS_Store
*.DS_Store
TestResults/
.idea/
onnxruntime.egg-info
nuget_root/
.packages/
.vscode
*.code-workspace
__pycache__
onnxruntime_profile*.json
/docs/python/inference/*.md
/docs/python/inference/auto_examples/*
/docs/python/inference/media/*
/docs/python/inference/examples/*.onnx
/docs/python/inference/examples/graph.*
/docs/python/*_LICENSE
/LICENSE.txt
/csharp/**/obj/
/csharp/**/bin/
/csharp/Directory.Build.props
docs/python/inference/*.onnx
*.onnx
onnxprofile_profile_test_*.json
/csharp/packages
/csharp/src/Microsoft.ML.OnnxRuntime/targets/**/*.targets
/csharp/src/Microsoft.ML.OnnxRuntime/targets/**/*.props
/csharp/**/*.vcxproj.user
cmake/external/FeaturizersLibrary/
# Java specific ignores
java/.gradle
java/hs_*.log
/java/bin
onnxruntime/python/version_info.py
/orttraining/orttraining/eager/ort_aten.g.cpp
/orttraining/orttraining/eager/ort_customops.g.cpp
/csharp/**/packages
# direnv, posh-direnv
.envrc
.psenvrc
*.csproj.user
# clangd
.cache/
compile_commands.json
# Rust specific
rust/**/target
rust/**/Cargo.lock
rust/onnxruntime/synset.txt

# Python

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# Swift Package Manager
Packages/
Package.pins
Package.resolved
.build/
.swiftpm/
repros/
onnxruntime/python/tools/transformers/t5_small/t5-small_encoder_fp16.onnx.data
onnxruntime/python/tools/transformers/t5_small/t5-small_encoder.onnx.data
onnxruntime/python/tools/transformers/whisper_tiny/whisper-tiny_beamsearch.onnx.data
onnxruntime/test/python/transformers/temp.txt
onnxruntime/test/python/transformers/cache_models/models--openai--whisper-tiny/blobs/1e95340ff836fad1b5932e800fb7b8c5e6d78a74
onnxruntime/test/python/transformers/cache_models/models--openai--whisper-tiny/blobs/4b26dd66b8f7bca37d851d259fdc118315cacc62
onnxruntime/test/python/transformers/cache_models/models--openai--whisper-tiny/blobs/7ebd0e69e78190ffe1438491fa05cc1f5c1aa3a4c4db3bc1723adbb551ea2395
onnxruntime/test/python/transformers/cache_models/models--openai--whisper-tiny/blobs/417aa9de49a132dd3eb6a56d3be2718b15f08917
onnxruntime/test/python/transformers/cache_models/models--openai--whisper-tiny/blobs/6038932a2a1f09a66991b1c2adae0d14066fa29e
onnxruntime/test/python/transformers/cache_models/models--openai--whisper-tiny/blobs/bf69932dca4b3719b59fdd8f6cc1978109509f6c
onnxruntime/test/python/transformers/cache_models/models--openai--whisper-tiny/blobs/d13b786c04765fb1a06492b53587752cd67665ea
onnxruntime/test/python/transformers/cache_models/models--openai--whisper-tiny/blobs/d7016e21da8776c8a9d577d0f559600f09a240eb
onnxruntime/test/python/transformers/cache_models/models--openai--whisper-tiny/blobs/dd6ae819ad738ac1a546e9f9282ef325c33b9ea0
onnxruntime/test/python/transformers/cache_models/models--openai--whisper-tiny/blobs/e3d256c988462aa153dcabe2aa38b8e9b436c06f
onnxruntime/test/python/transformers/cache_models/models--openai--whisper-tiny/refs/main
onnxruntime/test/python/transformers/cache_models/models--openai--whisper-tiny/snapshots/169d4a4341b33bc18d8881c4b69c2e104e1cc0af/added_tokens.json
onnxruntime/test/python/transformers/cache_models/models--openai--whisper-tiny/snapshots/169d4a4341b33bc18d8881c4b69c2e104e1cc0af/config.json
onnxruntime/test/python/transformers/cache_models/models--openai--whisper-tiny/snapshots/169d4a4341b33bc18d8881c4b69c2e104e1cc0af/generation_config.json
onnxruntime/test/python/transformers/cache_models/models--openai--whisper-tiny/snapshots/169d4a4341b33bc18d8881c4b69c2e104e1cc0af/merges.txt
onnxruntime/test/python/transformers/cache_models/models--openai--whisper-tiny/snapshots/169d4a4341b33bc18d8881c4b69c2e104e1cc0af/model.safetensors
onnxruntime/test/python/transformers/cache_models/models--openai--whisper-tiny/snapshots/169d4a4341b33bc18d8881c4b69c2e104e1cc0af/normalizer.json
onnxruntime/test/python/transformers/cache_models/models--openai--whisper-tiny/snapshots/169d4a4341b33bc18d8881c4b69c2e104e1cc0af/special_tokens_map.json
onnxruntime/test/python/transformers/cache_models/models--openai--whisper-tiny/snapshots/169d4a4341b33bc18d8881c4b69c2e104e1cc0af/tokenizer_config.json
onnxruntime/test/python/transformers/cache_models/models--openai--whisper-tiny/snapshots/169d4a4341b33bc18d8881c4b69c2e104e1cc0af/tokenizer.json
onnxruntime/test/python/transformers/cache_models/models--openai--whisper-tiny/snapshots/169d4a4341b33bc18d8881c4b69c2e104e1cc0af/vocab.json
onnxruntime/test/python/transformers/cache_models/models--t5-small/.no_exist/df1b051c49625cf57a3d0d8d3863ed4d13564fe4/added_tokens.json
onnxruntime/test/python/transformers/cache_models/models--t5-small/.no_exist/df1b051c49625cf57a3d0d8d3863ed4d13564fe4/special_tokens_map.json
onnxruntime/test/python/transformers/cache_models/models--t5-small/blobs/4e28ff6ebdf584f5372d9de68867399142435d9a
onnxruntime/test/python/transformers/cache_models/models--t5-small/blobs/4fd6c49c32ecf41886dba213d40030f063c72b07
onnxruntime/test/python/transformers/cache_models/models--t5-small/blobs/378f74060b20f6a9a1ea41b03fc0504466206255
onnxruntime/test/python/transformers/cache_models/models--t5-small/blobs/41911369be79611d82d152725113e66206bd7b79
onnxruntime/test/python/transformers/cache_models/models--t5-small/blobs/bd944e5f1b3ad9b70dd9d00010a517059e19265671076b8b0a4a58d9491842bc
onnxruntime/test/python/transformers/cache_models/models--t5-small/blobs/d52815623b46b7db1c4b957b5a83a8ad30b0146a
onnxruntime/test/python/transformers/cache_models/models--t5-small/refs/main
onnxruntime/test/python/transformers/cache_models/models--t5-small/snapshots/df1b051c49625cf57a3d0d8d3863ed4d13564fe4/config.json
onnxruntime/test/python/transformers/cache_models/models--t5-small/snapshots/df1b051c49625cf57a3d0d8d3863ed4d13564fe4/generation_config.json
onnxruntime/test/python/transformers/cache_models/models--t5-small/snapshots/df1b051c49625cf57a3d0d8d3863ed4d13564fe4/model.safetensors
onnxruntime/test/python/transformers/cache_models/models--t5-small/snapshots/df1b051c49625cf57a3d0d8d3863ed4d13564fe4/spiece.model
onnxruntime/test/python/transformers/cache_models/models--t5-small/snapshots/df1b051c49625cf57a3d0d8d3863ed4d13564fe4/tokenizer_config.json
onnxruntime/test/python/transformers/cache_models/models--t5-small/snapshots/df1b051c49625cf57a3d0d8d3863ed4d13564fe4/tokenizer.json
onnxruntime/test/python/transformers/onnx_models/whisper-tiny_beamsearch.onnx.data
onnxruntime/test/python/transformers/onnx_models/whisper-tiny_decoder_fp32.onnx.data
onnxruntime/test/python/transformers/onnx_models/whisper-tiny_encoder_fp32.onnx.data
onnxruntime/test/python/transformers/t5_onnx_models/t5-small_beam_search.onnx.data
onnxruntime/test/python/transformers/t5_onnx_models/tiny_t5_beam_search.onnx.data
_build_cuda12_debug.cmd
_build_cuda12_no_test.cmd
_build_cuda12_whl.cmd
_build_cuda12.6.cmd
_build_cuda12.cmd
_build_debug.cmd
_build_release.cmd
build_cpu.cmd
build_cu128_debug.cmd
build_cu128_release.cmd
build_cu130_debug.cmd
build_cu130_release.cmd
build_cu130.cmd
build_cuda12_RelWithDebInfo.cmd
build_dml_debug.cmd
build_dml.cmd
build_dump.cmd
build_nuget.cmd
build_trt.cmd
check_long_path.cmd
install_d.cmd
install_r.cmd
install_release.cmd
install_t.cmd
ort_trt_txt2img_new_zealand_hills.png
temp.txt
test_json.py
tmp.txt
torch_txt2img_new_zealand_hills.png
onnxruntime/python/tools/37fba06f-6ecf-11ef-bc0f-e0c26472a59b
onnxruntime/python/tools/240d4cb5-75ec-11ee-8119-e0c26472a59b
onnxruntime/python/tools/4751ed8a-6ecf-11ef-aab3-e0c26472a59b
onnxruntime/python/tools/d7159a49-6ed1-11ef-8f38-e0c26472a59b
onnxruntime/python/tools/transformers/1272-141231-0002.mp3
onnxruntime/python/tools/transformers/detail.csv
onnxruntime/python/tools/transformers/fusion.csv
onnxruntime/python/tools/transformers/result.csv
onnxruntime/python/tools/transformers/sam2_hiera_base_plus_encoder_shape.txt
onnxruntime/python/tools/transformers/summary_detail.csv
onnxruntime/python/tools/transformers/summary_fusion.csv
onnxruntime/python/tools/transformers/summary_result.csv
onnxruntime/python/tools/transformers/test_trt.py
